
    {% extends "miaplicacion/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h1 class="text-white mb-5">Iniciar sesión 📽️</h1>
    
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>    


        {% if messages %}
            <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}

    </form>
    


    <p>{{ msg_login }}</p>
    
    {% endblock %}   
