<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
</head>
<body>
 
{% extends "miaplicacion/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<section class="about-section text-center" id="about">
  <div class="container px-2 px-lg-3">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8">
              <h1 class="text-white mb-4">PERFIL DE USUARIO 🎞️</h1>
             
              <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                  <img src="{{ request.user.profile.image.url }}" alt="Foto de perfil" class="img-thumbnail" style="width: 250px; height: auto;">
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-lg-left">
                                <h2 class="text-justify text-start text-white">{{ request.user.first_name }} {{ request.user.last_name }}</h2>                               
                                <p class="text-justify text-start text-white-50" style="line-height: 1.4; margin-bottom: 1.5rem;">Correo electrónico: {{ request.user.email }}</p>
                                <p class="text-justify text-start text-white-50" style="line-height: 1.4; margin-bottom: 1.5rem;">Descripción: {{ request.user.profile.description }}</p>
                                <p class="text-justify text-start text-white-50" style="line-height: 1.4; margin-bottom: 1.5rem;">Sitio Web: 
                                  <a href="{{ request.user.profile.website }}" target="_blank">
                                    {{ request.user.profile.website }}
                                  </a>
                                </p>
                              </div>
                        </div>
                    </div>
                </div>               
            </div>
             
            <a class="btn btn-primary" href="{% url 'edit_profile' %}">Editar perfil</a>
            <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar sesión</a>
          
          <img class="img-fluid" src="{% static 'miaplicacion/assets/img/Profile.png' %}" alt="..." style="width: 250px; height: auto;">
  </div>
</section>
{% endblock %}

</body>
</html>

