{% extends "miaplicacion/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="projects-section bg-light" id="projects"></section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center"></div>
    <h1>EDITAR PERFIL</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        {{ u_form.as_p }}
        {{ p_form.as_p }}
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </div>
      <div class="col-md-4">
        {% if user.profile.image %}
          <img src="{{ user.profile.image.url }}" class="img-thumbnail" alt="Profile Image">
        {% else %}
          <img src="{% static 'path/to/default-image.jpg' %}" class="img-thumbnail" alt="Profile Image">
        {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock %}