
    {% extends "miaplicacion/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Acerca de Nosotros 🎬</h2>
                    <p class="text-white-50">
                        Bienvenido a este Mundo Cinefilo. En nuestro sitio encontrarás blogs fascinantes sobre el mundo del cine, explorando desde clásicos hasta estrenos recientes, y compartiendo nuestra pasión por el séptimo arte.
                    </p>
                    <h2 class="text-white mb-4">Sobre el Proyecto 💻</h2>
                    <p class="text-white-50">    
                        Este proyecto es el resultado final de un curso de Python en Coderhouse. Durante el curso, adquirimos habilidades fundamentales en programación y desarrollo web utilizando Django. Creamos una aplicación de blog en la que aplicamos conceptos clave como vistas basadas en clases, autenticación de usuarios, operaciones CRUD y formularios de modelo.
                    </p>
                    <h2 class="text-white mb-4">Desarrolladora 👩‍💻</h2>
                    <p class="text-white-50">    
                        Claudia Rosario Guachalla Perez.
                    </p>
                    <img class="img-fluid" src="{% static 'miaplicacion/assets/img/about.png' %}" alt="...">
                </div>
            </div>
            
              
        </div>
    </section>
    {% endblock %}   


