    {% extends "miaplicacion/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <section class="about-section text-center" id="about"></section>
    <section class="projects-section bg-light py-5" id="projects">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-4">
          <div class="col-lg-8 text-center">
            
            <h1 class="display-4">{% if form.instance.pk %}EDITAR BLOG 📝{% else %}Crear Blog{% endif %}</h1>
            
          </div>
        </div>    
      
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-body">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg mt-3 w-100">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
      </div>
    </div>
      </form>


      <a href="{% url 'blog_list' %}">Volver al listado</a>
    {% endblock %}

</body>
</html>
